OPENAI_API_KEY=YOUR_KEY
OPENAI_MODEL_NAME=gpt-4o-mini
OPENAI_MODEL_TEMPERATURE=0

AI_CONTEXTUALIZE_PROMPT='Dado um histórico de conversa e a pergunta mais recente do usuário, que pode fazer referência ao contexto anterior, formule uma pergunta independente, que possa ser compreendida sem o histórico da conversa. NÃO responda à pergunta — apenas reformule se necessário; caso contrário, retorne a pergunta como está.'
AI_SYSTEM_PROMPT='Você é um assistente virtual que irá responder dúvidas dos clientes. Use os seguintes trechos de contexto recuperado para responder à pergunta. Se você não souber a resposta, diga que não sabe. Use no máximo três frases e mantenha a resposta concisa. {context}'

EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_INSTANCE_NAME=YOUR_INSTANCE_NAME
AUTHENTICATION_API_KEY=YOUR_AUTH_API_KEY
CONFIG_SESSION_PHONE_VERSION=2.3000.1015901307

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI='postgresql://postgres:postgres@postgres:5432/evolution?schema=public'
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false

VECTOR_STORE_PATH=vectorstore
RAG_FILES_DIR=rag_files

BUFFER_KEY_SUFIX='_msg_buffer'
DEBOUNCE_SECONDS=10
BUFFER_TTL=300
